# API Keys
GROQ_API_KEY=your_groq_api_key_here
CONTENT_ORIGIN=https://msensat.dev
ALLOWED_ORIGINS=["https://msensat.dev"]
EXTRA_KNOWLEDGE="You can put here extra info if you don't want to use a file."